<% provide(:title, 'Home') %>
<h1>My synchro</h1>
<p>
	Swim, show your talent, collect your results!
	<br />
	Do it public or private!<br />
	Have fun!
	<%= link_to "Sign up now!", signup_path %>
</p>
